.heading-connect {
	font-family: "Source Sans Pro", "Raleway", sans-serif;
	font-size: 35px;
	margin-top: -1%;
}

.list-inline > li {
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	margin-top: -2%;
}

.social-btn:hover {
	opacity: 0.65;
}

.contact-text {
	font-family: "Raleway", "Source Sans Pro", sans-serif;
	font-size: 18px;
	letter-spacing: .5px;
}

.contact-text a {
	text-decoration: none;
	color: #d8d8d8;
}

.contact-text a:hover {
	color: #6bf;
	opacity: 0.8;
}

.text-copyright {
	font-family:  "Source Sans Pro", "Raleway", sans-serif;
	font-size: 1.75rem;
	font-weight: 300;
	margin-right: 2%;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 5px;
	} 
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: relative;
    margin-bottom: 25px;
    padding: 0;
}

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
