* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Source Sans Pro", "Raleway", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    line-height: 1.6;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}