// Navbar change to desktop nav

@media screen and (min-width: 670px) {
    
    ///
        // Navbar
    ///

    header > nav.mobile-menu, 
    header > span.mobile-menu-toggle { 
        visibility: hidden;
    }
    nav.nav-top {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        color: white;
        width: 50%;
    }
    .navigation {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    ///
        // Navbar
    ///
    header > .nav-top > .container > .navigation {
        font-size: 18px;
        width: 95%;
        margin: 0 auto;
    }

}


@media screen and (min-width: 1024px) and (max-width: 1440px) {

    ///
        // Navbar
    ///

    header > .nav-top > .container > .navigation {
        font-size: 19px;
        width: 80%;
        margin: 0 auto;
        padding: 25px 0;
    }
}

@media screen and (min-width: 1440px) {
    ///
        // Navbar
    ///

    .nav-top {
        width: 40%;
        .navigation {
            font-size: 19px;
            padding-top: 25px;
            padding-right: 50px;
        }
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    ///
        // Navbar
    ///

    header > .nav-top > .container > .navigation {
        width: 60%;
        margin: 0 auto;
        padding-top: 40px;
    }
}