@import "global.scss";

// Mobile Nav
.nav-top {
    display: none; // Desktop and tablet nav menu set to not display until media queries
}

nav.mobile-menu, 
.mobile-menu-toggle { 
    visibility: hidden;
} 

nav.mobile-menu, 
span.mobile-menu-toggle { 
    visibility: visible;
}
span.mobile-menu-toggle {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 3%;
    z-index: 1;
}
nav.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 75%;
    height: 100vh;
    background: #4a4a4a;
    z-index: 5;
    transform: translateX(100%);
    transition: all 0.3s ease;

    #close-container {
        text-align: right;
        padding: 1.65em 0;
        border-bottom: 1px solid #ffffff78;
        
        a.close-mobile-menu {
            display: inline-block;
            position: relative;
            top: 6px;
            right: 28px;
        }
    }

    ul {
        list-style: none;
        line-height: 2.5;
        padding: 2em;

        li {
            font-weight: 300;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    &.open {
        transform: translateX(0);
    }
}

// Landing page
.landing  {
    text-align: center;
    color: white;
    background: url(../img/landing.jpg);
    height: 85vh;
    background-position-y: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); // Skew effect
}

.landing-text-container {
    padding: 8em 0;
    h1, h2  {
        font-weight: 400;
        font-size: 33px;
    }
}

// About
.about-text {
    font-size: 18px;
    line-height: 1.7;
    a {
        color: inherit;
    }
    &:last-child {
        padding-bottom: 1.7em;
    }
}

.title {
    padding: 7px 0;
}

.section-heading {
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
    padding: 5px 30px;
}

.text-container {
    padding: 0 25px;
}

// Portfolio 
#portfolio {
    background-color: #f6f6f6;
    box-shadow: 2px 2px 3px 3px #f6f6f6;
}

.portfolio-title-container {
    padding: 15px 30px;
    width: 50%;
    margin: 0 auto;
    h2 {
        font-weight: 400;
    }
}

.case-study-container {
    padding: 2em 0;
    text-align: center;
}

.holder {
    padding-bottom: 1.5em;
}

// Footer 
.contact-title-container {
    padding: 15px 30px;
    width: 50%;
    margin: 0 auto;
}

.contact-title {
    font-weight: 400;
}

.find-out {
    display: none;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1em 1em 1em;
    li:nth-child(3), li:nth-child(4) {
        text-align: center;
        margin-top: 7px;
    }
}

.twitter-icon {
    width: 75%;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.behance-icon {
    width: 75%;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.linkedin-icon {
    width: 50%;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.github-icon {
    width: 50%;
    &:hover {
    opacity: 0.8;
    cursor: pointer;
    }
}

// Media query for mobile nav to change
@media screen and (min-width: 700px) {
    nav.mobile-menu, 
    span.mobile-menu-toggle { 
        visibility: hidden;
    }
    .nav-top {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 525px){
    .find-out {
        display: block;
    }
}